/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

<<<<<<< HEAD
    background:#ddbd93;
=======
    background:#ddbf99;
;
>>>>>>> 6b39fe1 (atualização 75%)
    color:#ffffff;
}

/*================ HEADER ================*/

header{

    width:100%;
    padding:25px 10%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:fixed;

<<<<<<< HEAD
    background:#ddbf99;
=======
    background: #806a50;
>>>>>>> 6b39fe1 (atualização 75%)

    z-index:1000;

}

.logo{

    color:#ffffff;
    text-decoration:none;
    font-size:35px;
    font-weight:700;

}

.logo span{

    color:#A020F0;

}

nav a{

    color:#ffffff;
    text-decoration:none;
    margin-left:35px;

    font-weight:600;

    transition:.3s;

}

nav a:hover{

    color:#A020F0;

}

/*================ HOME ================*/

.home{

    width:100%;
    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:120px 10%;

}

.texto{

    width:600px;

}

.texto h1{

    font-size:60px;

    margin-bottom:10px;

}

.texto h2{

    font-size:40px;

    margin-bottom:20px;

}

.typing{

    color:#9400D3;

}

.texto p{

    font-size:18px;

    color:#ffffff;

    line-height:30px;

}

/*================ REDES ================*/

.social{

    display:flex;

    margin:35px 0;

}

.social a{

    width:50px;
    height:50px;

    border:2px solid #A020F0;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#A020F0;

    text-decoration:none;

    margin-right:15px;

    font-size:24px;

    transition:.4s;

}

.social a:hover{

    background:#A020F0;

    color:#1f242d;

    box-shadow:0 0 20px #A020F0;

}

/*================ BOTÃO ================*/

.btn{

    display:inline-block;

    padding:15px 45px;

    background:#A020F0;

    color:#000000;

    text-decoration:none;

    border-radius:35px;

    font-weight:700;

    transition:.4s;

    box-shadow:0 0 20px #000000;

}

.btn:hover{

    transform:scale(1.05);

    box-shadow:0 0 35px #000000;

}

/*================ FOTO ================*/

.foto{

    width:420px;
    height:420px;

}

.foto img{

    width:100%;
    height:100%;

    object-fit:cover;

    border-radius:50%;

    border:5px solid #A020F0;

    box-shadow:

    0 0 15px #A020F0,

    0 0 30px #A020F0,

    0 0 50px #A020F0;

}

/*================ RESPONSIVO ================*/

@media(max-width:991px){

.home{

    flex-direction:column-reverse;

    text-align:center;

}

.texto{

    width:100%;

}

.foto{

    width:300px;

    height:300px;

    margin-bottom:50px;

}

nav{

    display:none;

}

}

/*================ SERVIÇOS ================*/

.services{

   padding:100px 9%;

}

.heading{

   text-align:center;
   font-size:60px;
   margin-bottom:60px;

}

.heading span{

   color:#A020F0;

}

.services-container{

   display:grid;

   grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

   gap:30px;

}

.service-box{

<<<<<<< HEAD
   background:#a8a4a4;
=======
   background:#806a50;
>>>>>>> 6b39fe1 (atualização 75%)

   border-radius:20px;

   padding:40px;

   text-align:center;

   transition:.4s;

}

.service-box:hover{

   transform:translateY(-10px);

   box-shadow:0 0 25px #00e5ff55;

}

.service-box i{

   font-size:70px;

   color:#A020F0;

   margin-bottom:20px;

}

.service-box h3{

   font-size:32px;

   margin-bottom:20px;

}

.service-box p{

<<<<<<< HEAD
   color:#d9d9d9;
=======
   color:#fffdfd;
>>>>>>> 6b39fe1 (atualização 75%)

   line-height:28px;

   margin-bottom:30px;

}

/*============== BOTÃO ==============*/

.btn-service{

   display:inline-block;

   padding:12px 35px;

   background:#A020F0;

   color:#ffffff;

   border-radius:40px;

   text-decoration:none;

   font-weight:600;

   transition:.3s;

}

.btn-service:hover{

   background:#fff;

   transform:scale(1.08);

   box-shadow:0 0 20px #A020F0;

<<<<<<< HEAD
=======
}
/*================ PORTFÓLIO ================*/

.portfolio{

    padding:100px 9%;
    background: #ddbf99;

}

.portfolio-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;

}

.portfolio-box{

    position:relative;

    overflow:hidden;

    border-radius:20px;

    box-shadow:0 0 15px rgba(0,0,0,.4);

}

.portfolio-box img{

    width:100%;
    height:300px;

    object-fit:cover;

    transition:.5s;

}

.portfolio-layer{

    position:absolute;

    left:0;
    bottom:0;

    width:100%;
    height:100%;

    background:linear-gradient(#0e0d0d,#A020F0);

    display:flex;

    justify-content:center;
    align-items:center;

    flex-direction:column;

    text-align:center;

    padding:30px;

    transform:translateY(100%);

    transition:.5s;

}

.portfolio-box:hover .portfolio-layer{

    transform:translateY(0);

}

.portfolio-box:hover img{

    transform:scale(1.1);

}

.portfolio-layer h4{

    font-size:30px;

}

.portfolio-layer p{

    font-size:17px;

    margin:15px 0 20px;

}

.portfolio-layer a{

    display:flex;

    justify-content:center;
    align-items:center;

    width:60px;
    height:60px;

    background:#fff;

    border-radius:50%;

    text-decoration:none;

}

.portfolio-layer i{

    font-size:30px;

    color:#ddbf99;

}

.modal{

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.8);

display:none;

justify-content:center;

align-items:center;

z-index:9999;

}

.modal-content{

background:#323946;

width:80%;

max-width:900px;

padding:40px;

border-radius:20px;

border:2px solid #00e5ff;

position:relative;

animation:zoom .4s;

color:white;

}

.close{

position:absolute;

right:25px;

top:20px;

font-size:35px;

cursor:pointer;

color:#00e5ff;

}

@keyframes zoom{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}


#rodape{
   background:#806a50;
   text-align:center;
   padding:20px;
   border-top:4px solid #A020F0;
   margin-top:40px;
}

.navbar a{

    color:#fff;
    text-decoration:none;
    margin-left:35px;
    transition:.3s;

}

.navbar a:hover,
.navbar a.active{

    color:#A020F0;

}
html{
    scroll-behavior: smooth;
>>>>>>> 6b39fe1 (atualização 75%)
}